.iphone-page {
  display: flex;
  padding-left: 40px;
  .left-wrap {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: row;
    .phones-wrap .img-front-menu {
      margin-right: 30px;
      opacity: 0.3;
    }
    .phones-wrap .img-back-menu {
      opacity: 0.3;
    }
    .phones-wrap .img-front-menu.active, .phones-wrap .img-back-menu.active {
      opacity: 1;
    }
  }
  .title-wrap {
    padding: 50px;
    position: relative;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f0f0+0,ffffff+100 */
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(left,  #f0f0f0 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f0f0f0 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f0f0f0 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    .logo-apple {
      width: 20%;
      opacity: 0.1;
      position: absolute;
      top: 20%;
      left: 75%;
    }
    .iphone-title {
      color: #FF3B30;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 35px 10px;
    }
    .iphone-title-main {
      font-size: 70px;
      color: #000000;
      font-weight: 700;
      line-height: 1em;
      margin-bottom: 30px;
    }
    p {
      font-size: 20px;
      color: #999999;
      font-weight: 300;
    }
  }
  .content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-height: 550px;
    .price-wrap {
      color: #CCCCCC;
      font-weight: 700;
      font-size: 34px;
      line-height: 1em;
      align-self: flex-end;
    }
    .buy-now {
      color: #FF3B30;
      font-size: 16px;
    }
  }
  .phone-preview {
    display: flex;
    justify-content: center;

    .phone-preview-container {
      position: relative;
      .iphone-img-wrap {
        position: absolute;
        top: 100px;
      }
    }

  }
}

//slider
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 8px;
  background: #FF3B30;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .iphone-page .phone-preview {
    flex: 0 0 0%;
    max-width: 0%;
  }
  .iphone-page .title-wrap {
    padding: 30px;
  }
  .iphone-page .title-wrap .iphone-title-main {
    font-size: 60px;
  }
  .iphone-page .title-wrap p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 950px) {
  .iphone-page {
    padding: 0;
  }
  .iphone-page .left-wrap {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .iphone-page .phone-preview {
    flex: 0 0 0%;
    max-width: 0%;
  }
  .iphone-page .phone-preview .phone-preview-container {
    position: relative;
    top: -130px;
    left: calc(100% - 260px);
  }
  .iphone-page .content {
    min-height: 350px;
    max-height: 500px;
  }
  .iphone-page .title-wrap {
    padding: 30px;
  }
  .iphone-page .title-wrap .iphone-title-main {
    font-size: 44px;
  }
  .iphone-page .title-wrap p {
    font-size: 13px;
  }
  .phones-wrap {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 690px) {
  .iphone-page {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .iphone-page .left-wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .iphone-page .phone-preview .phone-preview-container {
    position: relative;
    left: calc(100% + 86px);
    top: 200px;
  }
  .iphone-page .title-wrap {
    padding: 10px;
  }
  .iphone-page .content .price-wrap {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .iphone-page .title-wrap p {
    font-size: 14px;
  }
  .iphone-page .content {
    min-height: 700px;
    max-height: 500px;
  }
  .phones-wrap {
    align-self: flex-end;
  }
}
