<div class="product-page">
  <div class="welcome-apple">
    <img class="logo-apple" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Apple_logo_grey.svg" alt="Apple Icon">
    <h1 class="welcome animate__animated animate__fadeInDown">Welcome to Apple</h1>
    <p class="welcome-p animate__animated animate__fadeInUp">See our Products</p>
  </div>
  <div class="icons">
    <a class="hvr-float-shadow mr-20">
      <span class="icon">
        <img routerLink="/product/iphone" class="animate__animated animate__fadeInLeft" src="https://www.freeiconspng.com/uploads/iphone-icon-9.png" width="30" alt="Iphone Svg Icon" />
      </span>
    </a>

    <a class="hvr-float-shadow mr-20">
      <span class="icon">
        <img class="animate__animated animate__fadeIn" src="https://www.freeiconspng.com/uploads/laptop-png-10.png" width="30" alt="Laptop Download Icon" />
      </span>
    </a>

    <a class="hvr-float-shadow mr-20">
      <span class="icon">
      <img routerLink="/product/iphone" class="animate__animated animate__fadeInRight" src="https://www.freeiconspng.com/uploads/watch-icon-0.png" width="30" alt="Watch .ico" />
      </span>
    </a>
  </div>

</div>
