/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 530px;
  padding: 0;
  margin: 0;
  color: #707070;
}
body, p, span, div {
    font-size: 16px;
}
.col-md-12 {
  padding: 0;
}

