/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  background: #92dafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #92dafa 0%, #ffffff 70%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #92dafa 0%,#ffffff 70%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #92dafa 0%,#ffffff 70%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92dafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  min-height: 530px;
}
body, p, span, div {
    font-size: 14px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid #af4863;
}
.error {
    color: #943851;
}

